<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="restAssuredFramework">
    <classes>
      <class name="getRequest.GetData3"/>
    </classes>
  </test> <!-- restAssuredFramework -->
</suite> <!-- Suite -->
